page-login {

  .err {
    text-align: center;
    font-size: 14px;
    background: rgba(204, 204, 204, 0.5);
  }

  .link-registration {
    text-align: center;
    text-decoration: underline;
  }
  .bg-image {
    background: url(../assets/img/bg_page_login.jpg);
    background-size: 100%;
    background-position: center -50px;
    background-repeat: no-repeat;
    background-color: #0f1526;
  }

  ion-item.item-md, ion-item.item-ios {
    background-color: transparent;
  }

  .text-input-md, .text-input-ios {
    margin: 8px;
  }

  .login-btn {
    padding: 0px 16px 0px;
  }

  .btn {
    width: 47.9%;
  }

  .btn.grey {
    background-color: #ccc;
    color: #000;
  }

  ion-footer {
    background-color: transparent;
    bottom: 20px;
  }

  @media (max-width: 320px) {
    button .button-inner {
      font-size: 0.8em;
    }
  }

}
