page-arena {

    *{
        direction: ltr;
      }
    
      .counter {
        z-index: 1;
        top: -5px;
      }
    
      .wrap {
        position: relative;
        text-align: center;
        width: 50%;
        margin: 10px auto 3px;
      }
    
      ion-slides {
        height: calc(100% - 75px);
        height: -webkit-calc(100% - 75px);
        height: -moz-calc(100% - 75px);
        margin-top: 10px;
      }
    
      ion-slides.slides-ios {
        height: calc(100% - 90px);
      }
    
      ion-slide {
        position: relative;
      }
      .pop_title {
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        color: #fefeff;
        font-size: 16px;
        padding: 7px 10px 7px 35px;
      }
    
      .avatar {
        height: calc(100% - 33px);
        height: -webkit-calc(100% - 33px);
        height: -moz-calc(100% - 33px);
      }
    
      ion-card.card-ios {
        height: 100%;
      }
    
      .swiper-slide img {
        width: 100%;
        margin: 0 auto;
        display: block;
      }
    
      ion-card.card.card-md {
        position: relative;
        width: 100%;
        margin: 0 auto;
        float: none;
        height: inherit;
      }
    
      .notifications_btn {
        background-color: #a29777;
        text-transform: none;
      }
    
      .notifications_btn #notifications {
        margin-right: 5px;
      }
    
      .buttons {
        margin: 15px auto 0;
        text-align: center;
      }
    
      .slide-zoom {
        height: inherit;
      }
    
      .buttons img {
        width: 10%;
        display: inline;
        margin: 0 15px
      }    

}
