page-profile {

  .scroll-content {
    margin-bottom: 55px !important;
  }

  .swiper-pagination-bullet-active {
    background: #ec2027;
    width: 11px;
    height: 11px;
    border: 1px #fff solid;
  }

  .disabled.favorite-profile-btn {
    opacity: 1;
    border: 1.5px #505154 solid;
    img {
      width: 30px;
      display: block;
      margin: 11px auto;
    }
  }

  .swiper-pagination-bullet:not(.swiper-pagination-bullet-active){
    border: 1px #fff solid;
    width: 12px;
    height: 12px;
    opacity: 1;
    background: rgba(0,0,0,0.2);
  }

  .pmtitle.bottom .button-ios{
    padding: 8px;
  }

  .paying {
    background: url(../assets/img/icons/paid.png) no-repeat;
    width: 22px;
    height: 22px;
    position: absolute;
    background-size: cover;
    left: 8px;
    top: 28px;
    z-index: 999;
  }
  .profile {
    background-position: center;
    background-size: 100%;
    width: 100%;
    height: 300px;
  }

  .pmtitle span.age {
    clear: none;
    display: inline;
    margin-right: 4px;
    font-size: 17px;
  }

  .pmtitle {
    position: relative;
    background: #e9e8e5;
    padding: 9px 34px 6px 40px;
    font-size: 21px;
  }
  .pmtitle span {
    font-size: 14px;
    display: block;
    clear: both;
  }
  .pmbotul {
    font-size: 12px;
    position: relative;
  }
  .pmbotul li .one {
    font-weight: bold;
    width: 115px;
    display: table-cell;
  }

  .pmbotul li .two {
    //display: block;
    //width: 57%;
    //float: left;
    display: table-cell;
  }
  .pmbotul li {
    margin-bottom: 5px;
    //display: flow-root;
  }

  .pmtitle.bottom span {
    display: inline;
  }
  .btn-opt {
    text-align: center;
  }

  .pmtitle.bottom {
    text-align: center;
    padding: 4px 10px 14px 10px;
  }

  .pmtitle.bottom span ion-icon {
    margin-right: 5px;
  }

  textarea.text-input {
    text-align: right;
    direction: rtl;
    width: 86%;
    margin: 5px auto 0px;
  }

  .pmbotul .more-about-me li .one {
    width: 100%;
  }

  .profile-sub-title {
    width: 100%;
    padding: 5px 0 6px 0;
    background-color: black;
    color: white;
    text-align: right;
    padding-right: 5px;
  }

  li {
    list-style-type: none;
  }

  .pmdetail {
    padding-right: 15px;
  }

  .pbot_con {
    float: right;
  }

  .new-user {
    background: url(../assets/img/icons/new.png) no-repeat;
    width: 26px;
    height: 26px;
    position: absolute;
    background-size: cover;
    left: 8px;
    top: -6px;
    z-index: 999;
  }

  .profile-buttons .favorite-profile-btn,
  .profile-buttons .like-profile-btn,
  .profile-buttons .message-profile-btn {
    background: rgba(233, 232, 229, 0.5);
    width: 49px;
    height: 49px;
    margin-bottom: 5px;
    border-radius: 50%;
  }
  .online-user {
    top: 13px;
    right: 10px;
    height: 16px;
    width: 16px;
    background-color: #45d362;
    position: absolute;
    border-radius: 100%;
  }

  .three {
    display: block;
    margin-top: 1%;
  }

  ion-textarea > textarea {
    text-align: center;
  }

  .bg {
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
  }

  .back-btu-wrap {
    position: absolute;
    z-index: 999999;
    width: 50px;
    height: 47px;
    top: 68px;
    right: 8px;
  }

}
