page-inbox {
 .message { min-height: 50px; }
 .gray-bg { background: #ccc }
 .counter {
    clear: both;
    margin-top: 8px;
    font-size: 16px;
    left: auto;
    right: 2px;
  }
  ion-card { position: relative; }

  .highlight{
    background-color: #f1bad1;
  }
}
