advanced-search-result {
  $app-direction: rtl;

  #cap {
    background: url(../assets/img/icons/cap.png) center no-repeat;
    width: 27px;
    height: 20px;
    background-size: contain;
  }

  #add-green,  #remove-green {
    background: url(../assets/img/icons/fav-red.png) center no-repeat;
    width: 20px;
    height: 20px;
    background-size: contain;
  }

  #remove-green {
    background: url(../assets/img/icons/cap.png) center no-repeat;
    background-size: contain;
  }

  .sorting {
    width: 320px;
    right: 50%;
    top: 60px;
    margin-right: -160px;
    position: fixed;
    padding: 5px 5px;
    background: rgba(255, 255, 255, 0.7);
    z-index: 101;
    border-radius: 0 0 10px 10px;
  }

  .age {
    font-size: 13px;
    display: inline;
    margin-right: 5px;
    line-height: 17px;
    font-weight: bold;
  }

  .sorting .close {
    float: right;
    padding: 0 3%;
    line-height: 30px;
  }

  .sorting .open {
    position: absolute;
    z-index: 999;
    right: calc(50% - 8px);
    font-size: 26px;
  }

  .sortby {
    line-height: 32px;
    background: #fff;
    padding: 0 5px;
    width: 220px;
    height: 30px;
  }

  .select .select-icon {
    position: absolute;
    width: 100%;
  }

  .sortby * {
    width: 220px;
    position: relative;
    max-width: 220px;
    padding: 0;
    overflow: visible;
  }

  .sorting .mem-left {
    width: 59px;
  }

  .mem-right {
    float: right;
    width: 222px;
    box-sizing: border-box;
  }

  .mem-left {
    float: right;
    width: 63px;
    font-size: 15px;
    font-weight: normal;
    line-height: 32px;
  }

  .card-md, .card-ios {
    background: #dbdbd2;
    box-shadow: none;
  }

  .list {margin-top: 0}

  .list-ios {
    /*margin: 9px 0 32px 0;*/
  }

  .item-md, .item-ios {
    position: relative;
  }
  .item-md:nth-child(odd), .item-ios:nth-child(odd) {
    padding-left: 0;
  }

  /*.item-md.item-block .item-inner:nth-child(odd) {
    padding-left: 8px;
  }*/

  .list-ios > .item-block:first-child {
    border-top: 0;
  }

  .online {
    top: 7px;
    right: 10px;
    height: 12px;
    width: 12px;
    background-color: #45d362;
    position: absolute;
    border-radius: 100%;
  }

  .king {
    background: url(../assets/img/icons/icoKing.png) no-repeat;
    width: 26px;
    height: 26px;
    position: absolute;
    background-size: cover;
    right: -4px;
    top: -3px;
    z-index: 999;
  }

  .card-md {
    width: calc(56% - 20px);
    float: left;
  }

  .card-ios {
    width: calc(55% - 23.6px);
    float: left;
  }

  @media (max-width: 1919px) {
    .card-md {
      width: calc(50%);
    }
    .card-ios {
      width: calc(51.9% - 23.6px);
    }
  }

  @media (max-width: 414px) {
    .card-ios {
      width: calc(55% - 20.6px);
    }
    .sorting .open {
      right: calc(50% - 7px);
    }
  }

  @media (max-width: 375px) {
    .card-ios {
      width: calc(56% - 21.6px);
    }
    .sorting .open {
      right: calc(50% - 8px);
    }
  }

  @media (max-width: 320px) {
    .card-ios {
      width: calc(58% - 23.6px);
    }
    .sorting .open {
      right: calc(50% - 8px);
    }
  }

  .new-user {
    background: url(../assets/img/icons/new.png) no-repeat;
    width: 26px;
    height: 26px;
    position: absolute;
    background-size: cover;
    left: 8px;
    top: 2px;
    z-index: 999;
  }

  .paying {
    background: url(../assets/img/icons/paid.png) no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    background-size: cover;
    left: 0;
    top: 129px;
    z-index: 999999;
  }


}

.platform-ios page-hello-ionic .sorting {
  top: 70px;
}

.platform-ios page-hello-ionic .sorting .icon-ios {
  font-size: 1.8em;
}

ul {
  list-style: none;
  padding: 0;
}

p
.page-hello-ionic .card-md + ion-card, .page-hello-ionic .card-ios + ion-card {
  margin-top: 0;
}

.loader {
  margin: 0 auto;
  text-align: center;
  height: 35px;
  width: 70px;
}

ion-card {
  float: right;
}

.user-section > img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.user-section {
  clear: both;
}

.long-name {
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.long-city {
  width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.page-hello-ionic .name {
  font-size: 14px;
  font-weight: bold;
  float: right;
}

.page-hello-ionic, .location {
  font-size: 14px;
  clear: both;
}

.page-hello-ionic ion-card-title {
  margin: 0;
  padding-left: 8px;
  padding-right: 8px;
  background-color: black;
  color: white;
  height: 55px
}

#mobmsg {
  background: url(../assets/img/icons/mobmsg.png) center no-repeat;
  width: 20px;
  height: 20px;
  background-size: contain;
}

#add-green {
  background: url(../assets/img/icons/fav-red.png) center no-repeat;
  width: 20px;
  height: 20px;
  background-size: contain;
}

#like-red {
  background: url(../assets/img/icons/like-red.png) center no-repeat;
  width: 20px;
  height: 20px;
  background-size: contain;
}

#cap {
  background: url(../assets/img/icons/cap.png) center no-repeat;
  width: 27px;
  height: 20px;
  background-size: contain;
}

#unblock {
  background: url(../assets/img/icons/unblock.png) center no-repeat;
  width: 27px;
  height: 20px;
  background-size: contain;
}

.width3 {
  width: 33.33%;
}

.user-section {
  border: 1px solid #404040;
  border-radius: 12px;
}

.distance {
  font-weight: bold;
  position: absolute;
  left: 8px;
  line-height: 18px;
  direction: rtl;
  font-size: 12px;
}

ul.profile-btn {
  height: 47px;
  padding: 8px 0;
  margin: 0;
}

ul.profile-btn li {
  margin-left: 15%;
  float: none;
  margin: 0 auto;
}

ul.profile-btn .btn {
  margin-left: 3%;
  width: 30%;
  float: left;
}

ul.profile-btn .btn div {
  font-size: 10px;
  text-align: center;
}

.profile-btn li:last-child {
  margin: 0;
}

.user-section {
  position: relative;
}

.user-section > .wrap {
  background: white;
  border-radius: 12px;
}

.usr_profile .avatar {
  width: 100%;
  height: 130px;
  background-size: cover;
  background-position: top;
  border-radius: 11px 11px 0 0;
}

.content-md, .content-ios {
  background-color: #dbdbd2;
}

.item-md.item-block .item-inner, .item-ios.item-block .item-inner {
  padding-right: 0;
}

.item-md {
  padding-right: 10px;
}

.label-md, .label-ios {
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

ion-popover {
  // left: -57px;
  top: 38px;
}



