page-search {

    .bteween {
		display: inline-block;
	    vertical-align: top;
	    text-align: center;
	    padding: 0 5.4%;
	    line-height: 29px;
	}

	.btn-search{
		font-size: 16px;
		font-weight: bold;
	}

	.adv-search {
		background: #ffffff;
		color: #ec649f;
		font-weight: bold;
		font-size: 16px;
	}

	.select-text {
		margin-top: 16px;
	}

}
